<style> 
	.grid-container-rules1 {
	  display: grid;
	  grid-template-rows: repeat(2, 1fr); 
	  grid-template-columns: repeat(2, 1fr); 
	  gap: 10px; 
	}

	.grid-item-rules1 {
	  border: 1px solid #ccc;
	  padding: 10px;
	  text-align: center;
	  border: none;
	}

	.grid-container-rules2 {
	  display: grid;
	  grid-template-rows: repeat(9, 1fr); 
	  grid-template-columns: repeat(9, 1fr); 
	  gap: 10px; 
	}

	.grid-item-rules2 {
	  border: 1px solid #ccc;
	  padding: 10px;
	  text-align: center;
	  border: none;
	}
</style>


<h1 class="center-text">How to Play?</h1>
<hr class="black-line">

<h5> The objective of the game is to find a set of 3 cards from the 12 face up cards on the table. Each card has 4 attributes which can vary as follows: </h5> 
</br>

<div class="grid-container-rules1">
   <div class="grid-item-rules1">
   		<%= render "shared/color-display" %>
   </div>
   <div class="grid-item-rules1">
   		<%= render "shared/shape-display" %>

   </div>
   <div class="grid-item-rules1">
   		<%= render "shared/shade-display" %>
   </div>
   <div class="grid-item-rules1">
   		<%= render "shared/number-display" %>
   </div>
</div>
<hr class="black-line">

<h5> 
	A set consists of 3 cards in which each of the cards attributes, looked at one-by-one, are the same on each card, or, are different on each card. All of the features must separately satisfy this rule. Lets zoom in on the shape attribute (which is 1 of the 4 attributes): The shape attribute must be either the same on all 3 cards, or different on all 3 cards. This must be true not only of the shape attribute but of all 4 attributes in order for 3 cards to make a set.
</h5>

<hr class="black-line">
<h3 class="center-text"> Generate a random set </h3>
	
<hr class="black-line">

</br> 
<div>
	<%= link_to "Play Game of Set", play_path, class: "btn btn-outline-dark btn-block w-100 text-center"  %>
</div>
</br>
<div>
	<%= link_to "Full Deck of Cards Visual", fulldeck_path, class: "btn btn-outline-dark btn-block w-100 text-center"  %>
</div>
</br>
<div>
	<%= link_to "Leaderboards", leaderboards_path, class: "btn btn-outline-dark btn-block w-100 text-center"  %>
</div>
</br>

